body {
    background: plum;
}

#center {
    margin: 4% auto;
    border-collapse: collapse;
}

#top {
    margin: 1% auto;
    text-align: center;
}

.tit {
    text-align: center;
    color: crimson;
}

.z {
    border: 1px solid #565252;
    width: 70px;
    height: 70px;
    cursor: default;
    color: black;
    font-size: 40px;
    text-align: center;
    background-color: orchid;
}

#myTable {
    border: 2px solid #6d6464;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

#reset-game {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    background-color: orchid;
    padding: 10px 20px;
}
